html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  position: absolute;
  max-height: 500px;
}

.img-flex {
  display: flex;
  width: 100%;
}

.banner {
  position: relative;
}

.banner-content {
  padding: 0 1rem;
  position: absolute;
  bottom: 1rem;
  overflow: hidden;
  left: auto;
}

h2 {
  background-color: rgba(0, 0, 0, .5);
  font-family: "Open Sans", bold;
  font-size: 4rem;
  min-width: 50em;
  color: #fff;
}

p {
  font-family: "Open Sans", italic;
  font-size: 2rem;
  min-width: 50em;
}
