html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  max-height: 500px;
}

.banner-content {
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  bottom: 1rem;
  max-width: 50em;
  left: 50%;
  transform: translateX(-50%);
}

h2 {
  background-color: rgba(0, 0, 0, .5);
  font-family: "Open Sans", bold;
  font-size: 4rem;
  color: #fff;
}

p {
  font-family: "Open Sans", italic;
  font-size: 2rem;
}
