html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  max-height: 500px;
}

h2 {
  font-family: 'Open Sans', bold;
  font-size: 4rem;
  min-width: 50em;
}

p {
  font-family: 'Open Sans', italic;
  font-size: 2rem;
  min-width: 50em;
}
